@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f14;
  --text: #e6eaf2;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

a {
  @apply text-brand underline-offset-4 hover:underline;
}
